.App {
  text-align: center;
  background-color: beige;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button.active{
  background-color:lightblue;
}

li.completed{
  text-decoration: line-through;
}


li {
  color: rgb(26, 67, 102);

}

.topnav {
  display: inline;
}

.nav-link{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

.nav-link:hover {
  color: black;
}


.navBar {
  width: 100%;
  background-color: #111;
  color: white;
  padding: 10px;
}

.links {
height: 0;
overflow: hidden;
list-style-type: none;
font-weight: bold;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  transition: 0.3s all;
}
.field input {
    display: block;
    width: 100%;
    height: 56px;
    position: relative;
    padding: 0px 16px;
    border: thick;
    border-color: black;
    border-radius: 4px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 10px,10px
}

