body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: beige;
}

code {
  font-family: 'Times New Roman', Times, serif
}


button.active{
  background-color:lightblue;
}

li.completed{
  text-decoration: line-through;
  background: red;
  color:whitesmoke;
}


li {
  color: rgb(26, 67, 102);

}
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.topnav li {
  display: inline;
  display: block;
  padding: 8px;
  float: left;
  font-size: large;
  color: blue;
  background-color: whitesmoke;
 
}
.App {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 35px;
    float: left;
    font-size: 30px;
    style:none
}
  